# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=adadasdasdas

GITHUB_CLIENT_ID=a
GITHUB_CLIENT_SECRET=a
GITHUB_ACCESS_TOKEN=a

# -----------------------------------------------------------------------------
# Database (MySQL - PlanetScale)
# -----------------------------------------------------------------------------
DATABASE_URL="postgres://htheanh2000:OFbvdsPYW97A@ep-restless-salad-63612065.ap-southeast-1.aws.neon.tech/neondb"

# -----------------------------------------------------------------------------
# Email (Postmark)
# -----------------------------------------------------------------------------
SMTP_FROM=a
POSTMARK_API_TOKEN=a
POSTMARK_SIGN_IN_TEMPLATE=a
POSTMARK_ACTIVATION_TEMPLATE=a

# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
STRIPE_API_KEY=a
STRIPE_WEBHOOK_SECRET=a
STRIPE_PRO_MONTHLY_PLAN_ID=a